@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@font-face {
  font-family: 'Champ';
  src: url('/public/fonts/champs/champs-Black.ttf') format('truetype');
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }


body {
  color: #1b0a32 !important;
  background-attachment: fixed;

  /* font-family: 'Champ', sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-champ {
  font-family: 'Champ', sans-serif !important;
}

.text-dmsans {
  font-family: 'DM Sans', sans-serif;
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.gradient-after::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background: linear-gradient(to right, #F6D5F7 0%, #FBE9D7 100%);
  z-index: -1;
}

.bg-blur {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.bg-blur-light {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: linear-gradient(to bottom, rgba(246, 213, 247, 0.8) 0%, rgba(251, 233, 215, 0.8) 100%);
}

.bg-card{
  border-radius: 0.8rem;
  border: 1px solid #1B0A32;
  background: #F5F5F5;
  box-shadow: 4px 4px 0px 0px #1B0A32;
}

.mobile-container {
  margin: auto;
  max-width: 90%;
}


.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper {
  overflow: visible!important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.profile-item:not(:last-child)::after {
  content: "•";
  margin-left: 8px;
}
