@tailwind base;
  @tailwind components;
  @tailwind utilities;

  :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@font-face {
  font-family: 'Champ';
  src: url('/public/fonts/champs/champs-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(to right, #F6D5F7 0%, #FBE9D7 100%);
  color: #1b0a32;
  font-family: 'Champ', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
